# Angular specific
Frontend/.angular/cache
dist/
tmp/
*.js.map
*.js
*.d.ts
node_modules/

# IDE specific
.idea/
.vscode/

*.sln
migrations/
.vs/
**/obj/
**/bin/
/Backend/SocialMedia.API/Properties/launchSettings.json
