<div class="container">
    <div class="profile-header">
        <h2>Edit Profile</h2>
        <button type="button" class="btn btn-success btn-save" (click)="editProfile()">Save</button>
    </div>

    <div class="cover-photo-section" onclick="handleCoverPhotoClick()">
        <div class="text-center">
            <i class="fas fa-camera"></i>
            <div>Cover Photo</div>
        </div>
    </div>

    <div class="profile-form">
        <div class="profile-picture-section">
            <div class="mb-3">
                <label class="form-label">Profile Picture</label>
            </div>
            <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?w=200&h=200&fit=crop&crop=face"
                alt="Profile Picture" class="profile-picture" id="profilePicture">
            <br>
            <button type="button" class="btn btn-success btn-change" onclick="handleProfilePictureClick()">
                Change
            </button>
        </div>

        <form>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" name="fullName" [(ngModel)]="user.fullName">
            </div>

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username"  [(ngModel)]="user.userName">
            </div>

            <div class="mb-3">
                <label for="bio" class="form-label">Bio</label>
                <input type="text" class="form-control" name="bio" [(ngModel)]="user.bio">
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" name="location" [(ngModel)]="user.location">
            </div>

            <div class="mb-4">
                <label for="website" class="form-label">Website</label>
                <input type="text" class="form-control" name="website" [(ngModel)]="user.website">
            </div>
        </form>
    </div>
</div>
