<div class="d-flex align-items-center">

  <div class="search-container search-header">
    <i class="bi bi-search search-icon"></i>

    <input
      type="text"
      class="form-control search-input"
      [placeholder]="'SEARCH.PLACEHOLDER' | translate"
      id="searchInput"
    >
  </div>

  <button class="btn cancel-btn">
    {{ 'SEARCH.CANCEL' | translate }}
  </button>

</div>

<ul class="nav nav-tabs">

  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/search/all']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ 'SEARCH.ALL' | translate }}
    </a>
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/search/people']"
      routerLinkActive="active"
    >
      {{ 'SEARCH.PEOPLE' | translate }}
    </a>
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/search/posts']"
      routerLinkActive="active"
    >
      {{ 'SEARCH.POSTS' | translate }}
    </a>
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/search/tags']"
      routerLinkActive="active"
    >
      {{ 'SEARCH.TAGS' | translate }}
    </a>
  </li>

</ul>