<div class="saved-container">

  <h2 class="page-title">Saved Posts</h2>

  <!-- Posts -->
  <div class="posts-wrapper" *ngIf="savedPosts?.length; else emptyState">

    <div class="post-card" *ngFor="let post of savedPosts">
      <div class="post-header" (click)="goToPost(post.id)">
<div class="letter-avatar me-2">
        {{ post.userName?.charAt(0)?.toUpperCase() }}
      </div>
        <div>
          <h6 class="mb-0">{{ post.userName }}</h6>
          <small class="text-muted">Saved post</small>
        </div>
      </div>

      <div class="post-body">
        <p>{{ post.text }}</p>
        <div class="post-media" *ngIf="getMediaUrls(post).length">
          <img *ngFor="let url of getMediaUrls(post)" [src]="url" alt="Post image" class="post-image" />
        </div>
      </div>
    </div>

  </div>

  <ng-template #emptyState>
    <div class="empty-box">
      <p>No saved posts yet </p>
    </div>
  </ng-template>

</div>