<!-- Header -->
<div class="p-3">
  <h1 class="page-title">Friends</h1>

  <!-- Navigation Tabs -->
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/home/friends/followers']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ 'HOME.FOLLOWERS' | translate }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/home/friends/following']" routerLinkActive="active">{{ 'HOME.FOLLOWINGS' | translate }}</a>
    </li>
  </ul>

 
</div>