<div class="container-custom">
    <app-friends-header></app-friends-header>
    <div class="tab-content px-3">
        <div class="tab-pane fade show active">
            <div>
                <div class="user-item" data-name="cameron williamson" data-handle="cameronwilliamson"
                    *ngFor="let user of followedUsers" (click)="viewProfile(user.profileId)">
                    <div class="d-flex align-items-center">
                        <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?w=120&h=120&fit=crop&crop=face"
                            alt="Cameron Williamson" class="profile-pic me-3">
                        <div class="flex-grow-1">
                            <div class="username">{{user.fullName}}</div>
                            <div class="handle">{{user.location}}</div>
                        </div>
                        <button class="btn btn-primary btn-follow" (click)="$event.stopPropagation()">Follow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>