<div class="notifications-container">

  <div class="notifications-header d-flex justify-content-between align-items-center p-3">

    <h4 class="mb-0 notifications-title">
      {{ 'NOTIFICATIONS.TITLE' | translate }}
    </h4>

    <button
      class="mark-read-btn"
      (click)="markAllAsRead()"
    >
      {{ 'NOTIFICATIONS.MARK_ALL_READ' | translate }}
    </button>

  </div>

  <ul class="nav nav-tabs notifications-tabs px-3 pt-3">

    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="all"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
      >
        {{ 'NOTIFICATIONS.ALL' | translate }}
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="unread"
        routerLinkActive="active"
      >
        {{ 'NOTIFICATIONS.UNREAD' | translate }}
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="comments"
        routerLinkActive="active"
      >
        {{ 'NOTIFICATIONS.COMMENTS' | translate }}
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="likes"
        routerLinkActive="active"
      >
        {{ 'NOTIFICATIONS.LIKES' | translate }}
      </a>
    </li>

  </ul>

  <router-outlet></router-outlet>

</div>