<div> 
    <div class="tab-content px-3" >       
        <div class="notification-item" *ngFor="let notification of notifications">
                <div class="d-flex align-items-center">               
                    <div class="flex-grow-1">
                        <div class="notification-text">
                            <strong>{{notification.senderName}}</strong> {{notification.message}}
                        </div>
                    </div>
                    <div class="time-stamp">{{ notification.createdAt | date: 'short' }}</div>
                </div>
            </div>
        
        </div>
   </div>
