<div class="notification-item bg-success">
    <div class="d-flex align-items-center">
        <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?w=100&h=100&fit=crop&crop=face"
            alt="Profile" class="profile-pic me-3">
        <div class="flex-grow-1">
            <div class="notification-text">
                <strong>user2name</strong> mentioned you in a comment:
            </div>
            <div class="notification-comment">"I totally agree!"</div>
        </div>
        <div class="time-stamp">4h</div>
    </div>
</div>