<div class="container-fluid vh-100">

  <div class="row h-100 g-0">
    <!-- LEFT SIDE CONTACTS -->
    <div class="col-md-4 border-end ">

      <!-- SEARCH -->
      <div class="p-3 border-bottom">
        <div class="search-box position-relative">
          <i class="fas fa-search search-icon"></i>
          <input type="text" class="form-control search-input" placeholder="Search contacts..."[(ngModel)]="searchInput"  (keyup.enter)="searchChats()">
        </div>

      </div>

      <!-- CONTACTS -->
      <div class="contacts-container">

        <div *ngFor="let chat of chats" class="contact-item d-flex align-items-center p-3 border-bottom"
          [class.active]="selectedChat?.id === chat.id" (click)="selectChat(chat)">

          <!-- IMAGE -->
          <div class="position-relative me-3">

            <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?w=600&h=600&fit=crop&crop=face"
              [alt]="chat.name" class="contact-avatar">

            <div class="online-indicator"></div>
          </div>

          <!-- CONTACT INFO -->
          <div class="flex-grow-1 overflow-hidden">
            <div class="d-flex justify-content-between">
              <div class="contact-name"> {{chat.name}} </div>
              <small class="text-muted"> now </small>
            </div>

            <p class="contact-message text-truncate mb-0">
              {{chat.lastMessage}}
            </p>

          </div>
        </div>
      </div>
    </div>

    <!-- RIGHT SIDE CHAT -->
    <div class="col-md-8 d-flex flex-column">

      <!-- EMPTY STATE -->
      <div *ngIf="!selectedChat" class="h-100 d-flex justify-content-center align-items-center">
        <div class="text-center">
          <h3>Select a conversation</h3>
          <p class="text-muted"> Start chatting with your friends </p>
        </div>
      </div>

      <!-- CHAT AREA -->
      <ng-container *ngIf="selectedChat">

        <!-- CHAT HEADER -->
        <div class="chat-header d-flex align-items-center p-3 border-bottom ">
          <div class="position-relative me-3">
            <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?w=600&h=600&fit=crop&crop=face"
              class="contact-avatar">
            <div class="online-indicator"></div>
          </div>
          <div>
            <h5 class="mb-0" style="color: var(--text-color);"> {{selectedChat.name}} </h5>
          </div>
        </div>

        <!-- MESSAGES -->
        <div class="chat-body flex-grow-1 p-3" #scrollContainer>
          <div *ngFor="let message of messages" class="mb-3 d-flex" [ngClass]="{
              'justify-content-end': message.senderId === currentUserId,
              'justify-content-start': message.senderId !== currentUserId}">

            <div class="message-bubble px-3 py-2 position-relative"
              [ngClass]="{
                'sent-message': message.senderId === currentUserId, 'received-message': message.senderId !== currentUserId  }">

                <div class="message-options" *ngIf="message.senderId === currentUserId && message.isDeleted===false">
                <button class="option-btn" (click)="toggleMenu(message.id, $event)">⋮</button>

                <div class="options-menu" *ngIf="openMenuId === message.id">
                  <button (click)="editMessage(message)">Edit</button>
                  <button (click)="deleteMessage(message)">Delete</button>
                </div>
              </div>
              <div> {{message.content}} </div>
              <small class="message-time" *ngIf="!message.isDeleted">
                {{ message.sentAt| date:'shortTime' }}
                <span *ngIf="message.isEdited && !message.isDeleted"> • edited </span>
              </small>
            </div>
          </div>
        </div>

        <div class="chat-footer border-top p-3">
          <div class="d-flex align-items-center gap-2">
            <!-- INPUT -->
            <input type="text" class="form-control"  [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">

            <button class="btn button-style px-4" (click)="sendMessage()">
              <i class="fas fa-paper-plane"></i>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>